* {
  margin: 0;
  padding: 0;
}

html {
  font-family: cursive;
}

:root {
  --black: #000;
  --white: #fff;
  --purple: #100720;
  --light-grey: #808080;
  --grey: #383838;
  --red: #f806cc;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--black);
  color: var(--white);
}
